.jumbotron {
  color: #FF7733;
  background: url(../imagenes/banner-imagen.jpg);
  margin-top: 50px;
  margin-bottom: 10px;
}
.footer {
  padding: 10px 10px 0 10px;
  background-color: #26C088;
  color: #FEFD90;
  margin-top: 0px;
  margin-bottom: 10px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  background-color: #FEFD90;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
