@yellow:#FEFD90 ;
@red:#FF7733;
@green:#26C088;
.margenes(@top ,@botton){
  margin-top:@top;
  margin-bottom:@botton;
}
.jumbotron{
  
  color:@red;
  background: url(../imagenes/banner-imagen.jpg);
  .margenes(50px,10px);

}
.footer{
  padding: 10px 10px 0 10px;
  background-color: @green;
  color: @yellow;
  .margenes(0px,10px);
  
}
.card-hotel{

  flex: 1 200px;
  
  margin-top: 10px;
  background-color: @yellow;
}
.btn-reserva{
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon{
  padding-right: 10px;
}
.tab-content{
  padding-top: 10px;
}